@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.woff2) format('woff2'),
    url(../fonts/Gilroy-Regular.ttf) format('trueType');
    font-weight: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-SemiBold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.woff2) format('woff2');
    font-weight: 700;
}