/* sc-visual */

.sc-visual {}

/* main-slide */
.main-slide {
    height: calc(100vh - 40px);
    min-height: 300px;
}
.main-slide .swiper-slide {
    position: relative;
}
.main-slide .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-slide .text-box {
    position: absolute;
    left: 5%;
    bottom: 15%;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    color: #fff;
}
.main-slide .text-box h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
}
.main-slide .text-box p {
    font-weight: 400;
    line-height: 1.4;
    margin-top: 20px;
    font-size: 17px;
}
.main-slide .pagination {
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    position: absolute;
    z-index: 2;
    text-align: center;
}
.main-slide .pagination .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 0;
    margin: 0;
    opacity: 0.3;
}
.main-slide .pagination .swiper-pagination-bullet-active {
    opacity: 1;
}


/* sc-best */
.sc-best .headline {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 22px;
}

.best-tab {
    display: flex;
    gap: 12px;
    font-size: 15px;
    color: #77797e;
    margin-left: 10px;
    margin-bottom: 22px;
}
.best-tab .btn{
    padding: 10px 10px;
}
.best-tab .btn.clicked {
    font-weight: bold;
    background: #b75622;
    border-radius: 60px;
    color: #fff;
}
/* .sc-best #tab-all
.sc-best #tab-women {
    display: none;
}
.sc-best #tab-women.on {
    display: block;
}
.sc-best #tab-men {
    display: none;
} */
.sc-best .best-content {
    display: none;
}
.sc-best .best-content.on {
    display: block;
}

.best-content {
    margin: 0 auto;
}
.best-content .list {
    display: grid;
    gap: 20px;
    /* place-items: center; */
    grid-template-columns: repeat(2, 1fr);
}
.best-content .item {
    margin-bottom: 50px;
    position: relative;
}
.best-content .item img {
    width: 100%;
}
.best-content .item .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.best-content .item .new {
    position: absolute;
    right: 0;
    top: 0;
    width: 16%;
} 
.best-content .text-box {
    padding: 15px 17px 0;
}
.best-content .text-box span {
    line-height: 13px;
    font-size: 13px;
    font-weight: bold;
    color: #8e1f29;
}
.best-content .text-box p {
    font-size: 14px;
    margin: 5px 0;
}
.best-content .text-box strong {
    color: #8e1f29;
    font-weight: 700;
}
.best-content .text-box .sale {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
.best-content .text-box .no_sale {
    text-decoration: line-through;
    color: #8d8d8d;
}
.sc-best .best-all {
    text-align: center;
    margin: 0 16px 60px;
}
.sc-best .best-all span {
    color: #c86733;
}
.sc-best .best-all a {
    display: block;
    border: 1px solid #c8cbd2;
    border-radius: 4px;
    padding: 16px 0;
    font-size: 14px;
    line-height: 21px;
}
.sc-best .best-all a::after{
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    background: url("https://m.andar.co.kr/iv/arrow_right.png") no-repeat;
}


.sc-banner {
    margin-bottom: 20px;
}
.sc-banner img {
    width: 100%;
}



/* sc-product */

.product-image .text-box {
    padding: 20px 16px 20px;
}
.product-image .text-box h2 {
    font-size: 26px;
    line-height: 35px;
    color: #333;
    font-weight: bold;
}
.product-image .text-box p {
    padding: 14px 0 28px;
}
.product-image .text-box .link-more {
    display: inline-block;
    padding: 8px 10px 8px 18px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #1e1e1e;
    background: #1e1e1e;
    border-radius: 2px;
    font-weight: 500;
    line-height: 20px;;
}
.product-image .text-box .link-more::after {
    display: inline-block;
    content: '';
    width: 48px;
    height: 15px;
    background: url("https://m.andar.co.kr/common/mo/Icon_move.png") no-repeat center bottom / 18px auto;
}
.product-image img {
    width: 100%;
}
.product-list hr {
    display: block;
    border: 1px solid #eee;
}
.product-list .list {
    padding: 0 16px;
}
.product-list .item {
    display: flex;
    padding: 20px 0;
    width: 100%;
}
/* .product-list .item:nth-child(2)::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
} */
.product-list .item .img-box {
    max-width: 110px;
}
.product-list .item .img-box img {
    width: 100%;
}
.product-list .item .text-box {
    padding-top: 10px;
    padding-left: 28px;
}
.product-list .item .text-box p {
    font-size: 14px;
    color: #333;
} 
.product-list .item .text-box .price {
    padding: 10px 0;
}
.product-list .item .text-box strong {
    color: #8e1f29;
    font-size: 15px;
    font-weight: bold;
}
.product-list .item .text-box .sale {
    color: #333;
    font-size: 15px;
}
.product-list .item .text-box .no_sale {
    font-size: 13px;
    font-weight: 400;
    color: #8d8d8d;
    text-decoration: line-through;
}

.product_2 {
    margin-top: 40px;
}


/* sc-recommend */
.sc-recommend {
    /* 가로스크롤 없애줌 */
    overflow: hidden;
}
.sc-recommend .headline {
    text-align: center;
    padding: 50px 0 23px;
}

/* 이 height를 잡아주는 것이 가장 중요하다.(안그러면 안만들어진다) */
/* vw에 따라 높이도 변하기 때문에 vw로 세팅 */
.recommend-slide{
    /* 200px은 text-box 크기 합친거 */
    height: calc((74.960vw*2) + 200px);

    /* !가로스크롤이 생겨버린다 */
    margin-right: -10px;
}
.recommend-slide .swiper-wrapper {
    margin-right: -10px;
}
.recommend-slide .swiper-slide{
    height: calc(((74.960vw*2) + 200px)/2);
}
.recommend-slide .swiper-slide{
    padding-right: 10px;
    /* padding-right: 5px; */
    /* margin-right: 10px; */
    /* padding: 0 15px; */
    /* box-sizing: border-box; */
}
.recommend-slide .swiper-slide:nth-child(2n){
    /* padding-left: 5px; */
    /* padding-right: 0; */
}
.recommend-slide .swiper-slide img {
    width: 100%;
}
.recommend-slide .text-box{
    height: 100px;
    overflow: hidden;
}
.recommend-slide .text-box .name {
    font-size: 14px;
    color: #333;
    padding: 10px 0;
    letter-spacing: -0.05em;
}
.recommend-slide .text-box .no_sale {
    font-size: 13px;
    color: #8d8d8d;
    font-weight: 400;
    text-decoration: line-through;
}


/* sc-new */
.sc-new .headline {
    text-align: center;
    padding: 50px 16px 22px;
}

.new-content .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.new-content .item {
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.new-content .item img {
    width: 100%;
}
.new-content .text-box {
    padding: 15px 17px 0;
}
.new-content .text-box .review {
    font-size: 13px;
    font-weight: bold;
    color: #8e1f29;
}
.new-content .text-box .name {
    font-size: 14px;
    color: #333;
    padding: 10px 0;
    letter-spacing: -0.05em;
}
.new-content .text-box strong {
    color: #8e1f29;
    font-weight: bold;
}
.new-content .text-box .no_sale {
    font-size: 13px;
    color: #8d8d8d;
    font-weight: 400;
    text-decoration: line-through;
}
.new-content .link-box {
    margin: 0 30px;
}
.new-content  .link-more {
    display: block;
    width: 100%;
    border: 1px solid #c8cbd2;
    padding: 16px 0;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #222;
    font-weight: 500;
}
.new-content  .link-more::after{
    display: inline-block;
    width: 16px;
    height: 14px;
    content: '';
    background: url("https://m.andar.co.kr/iv/arrow_right.png") no-repeat;
}


/* sc-banner2 */
.sc-banner2 {
    padding: 56px 20px;
    background: #c86733;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 50px;
}
.sc-banner2 h3 {
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.5px;
    border-bottom: 1.5px solid #fff;
}
.sc-banner2 .bold {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-top: 10px;
}
.sc-banner2 p {
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
}
.sc-banner2 span {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin-top: 20px;
}



/* sc-female */
.sc-female {
    padding-left: 20px;
}
.sc-female .swiper {
    /* overflow: hidden; */
}
.sc-female .swiper-slide {
    width: 510px;
} 
.sc-female .headline {
    margin: 30px 0;
}
.sc-female .swiper .text-box {
    padding: 15px 15px 0;
}
.sc-female .swiper .text-box .review {
    font-size: 13px;
    color: #8e1f29;
    font-weight: 600;
}
.sc-female .swiper .text-box p {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
}
.sc-female .swiper .text-box strong {
    color: #8e1f29;
    font-weight: 500;
}
.sc-female .swiper .text-box .no_sale {
    font-size: 13px;
    font-weight: 400;
    color: #8d8d8d;
    text-decoration: line;
}


/* sc-banner-container */
.sc-banner-container {
    margin-top: 70px;
}
.sc-banner-container .banner-wrap {
    /* min-height: 283px; */
    height: 300px;
    position: relative;
}
.sc-banner-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.sc-banner-container .member {}
.sc-banner-container .text-box {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.sc-banner-container .text-box h3 {
    font-size: 26px;
    line-height: 31px;
    font-weight: bold;
}
.sc-banner-container .text-box p {
    padding: 15px 0 30px;
}
.sc-banner-container .text-box span {
    border: 1px solid #fff;
    padding: 7px 25px 8px;
    font-size: 15px;
}
.sc-banner-container .store {
    margin-top: 10px;
}